td
  a( href="/experiments/" + encodeURIComponent( experiment.getName( ) ) )= experiment.getName( )
td= experiment.getCreatedAt( ) ? moment( experiment.getCreatedAt( ) ).format( 'YYYY/MM/DD' ) : "N/A"
td= experiment.getStartedAt( ) ? moment( experiment.getStartedAt( ) ).format( 'YYYY/MM/DD' ) : "N/A"
td= experiment.getFinishedAt( ) ? moment( experiment.getFinishedAt( ) ).format( 'YYYY/MM/DD' ) : "N/A"
