td
  a( href="/experiments/" + encodeURIComponent( experiment.name ) )= experiment.name
td= experiment.createdAt ? moment( experiment.createdAt ).format( 'YYYY/MM/DD' ) : "N/A"
td= experiment.startedAt ? moment( experiment.startedAt ).format( 'YYYY/MM/DD' ) : "N/A"
td= experiment.finishedAt ? moment( experiment.finishedAt ).format( 'YYYY/MM/DD' ) : "N/A"
